<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rollercoaster.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.rollercoaster.entity.User">
        <id column="Id" jdbcType="BIGINT" property="id" />
        <result column="UserName" jdbcType="VARCHAR" property="username" />
        <result column="Password" jdbcType="VARCHAR" property="password" />
        <result column="Age" jdbcType="INTEGER" property="age" />
        <result column="Gender" jdbcType="VARCHAR" property="gender" />
        <result column="Address" jdbcType="VARCHAR" property="address" />
        <result column="Degree" jdbcType="VARCHAR" property="degree" />
    </resultMap>

    <select id="selectAll2" resultType="User">
        select Id,UserName,Password from t_user
    </select>

</mapper>